/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2016, 6:42:34 PM
    Author     : EMA
*/
.txtlabelresult {
    font-size: x-large;
    font-family: sans-serif;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;    
}

.txtresult {
    font-size: x-large;
    font-family: sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
